<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>The best Coffee</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
	<link href="css/all.min.css" rel="stylesheet" />
	<link rel="icon" href="/img/logo.png" type="image">
	<link href="css/style.css" rel="stylesheet" />
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

	<div class="container">
		<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="img/image.jpg">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<a href="index.html" id="logo">
								The best Coffee
							</a>
						</div>
					</div>
					<nav class="tm-nav">
						<ul class="tm-nav-ul">
							<li class="tm-nav-li"><a href="/" class="tm-nav-link">Sản phẩm</a></li>
							<li class="tm-nav-li"><a href="/about" class="tm-nav-link">Về chúng tôi</a></li>
							<li class="tm-nav-li"><a href="/contact" class="tm-nav-link ">Liên hệ</a></li>
							<div class="dropdown">
								{{#if name}}
								<li class="tm-nav-li" style="color: black;">
									Hi {{name}} <i class="fa fa-caret-down"></i>
								</li>
								<div class="dropdown-content">
									<a href="/logout" class="tm-nav-li">Đăng xuất</a>
									<a href="/histories" class="tm-nav-li">Lịch sử giao dịch</a>
								</div>
								{{else}}
								<li class="tm-nav-li"><a href="/login" class="tm-nav-link">Đăng nhập</a></li>
								{{/if}}
							</div>
							<li class="cart">
								<a href="/cart" class="tm-nav-link active">
									<ion-icon name="basket"></ion-icon><span>0</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div class="products-container">
			<div class="products-header">
				<h3 class="product-title">Tên đồ uống</h3>
				<h3 class="price">Giá</h3>
				<h3 class="quantity">Số lượng</h3>
				<h3 class="total">Tổng</h3>
			</div>
			<div class="products">

			</div>
			<button id="myBtn" class="buy">Thanh toán</button>
			<div id="myPay" class="pay">
				<div class="pay-content">
					<div class="pay-header">
						<span class="close">&times;</span>
						<h2>Thanh toán</h2>
					</div>
					<div class="pay-body">
						<p>Đồ uống</p>
						<p>Tiền</p>
					</div>
					<div class="pay-footer">
						<button class="buy" id="pay">Thanh toán</button>
					</div>
				</div>

			</div>
		</div>

		<footer class="tm-footer text-center">
			<p>Copyright &copy; 2020 The best Coffee
		</footer>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/parallax.min.js"></script>
	<script src="js/addtocart.js"></script>
	<script src="js/pay.js"></script>
	<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
	<script>
		var a = document.getElementById('pay');
		a.onclick= ()=>{
			console.log(products);
		};
	</script>
</body>

</html>