{{> header}}
<!-- Content Wrapper. Contains page content -->

<div class="content-wrapper pt-2">
  <!-- Content Header (Page header) -->
  <section class="content">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-12">
          <table class="table table-bordered" id="users-table">
            <thead>
              <tr>
                <th>_id</th>
                <th>Date</th>
                <th>totalPrice</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- /.content-wrapper -->
        //     arrError.push("Email or password is wrong!")

{{> footer}}

<script>
  $(document).ready(function () {
    $('#users-table').DataTable({
      drawCallback: function () {
      },
      ordering: true,
      searching: false,
      pageLength: 5,
      paging: true,
      lengthChange: false,
      autoWidth: false,
      processing: true,
      columnDefs: [
        {
          "targets": [0],
          "visible": false,
          "searchable": false
        },
      ],
      ajax: {
        data: "json",
        url: "/admin/users/histories/id/data-table",
        type: 'GET',
      },
      columns: [
        { data: '_id', name: '_id' },
        {
          data: 'date', render: function (data) {
            if (data) {
              return data;
            }
            else {
              return "";
            }
          }
        },
     

        {
          data: 'totalPrice', render: function (data) {
            if (data) {
              return data;
            }
            else {
              return "";
            }
          }
        },
      ],
    })
  });

</script>