{{> header}}
<!-- Content Wrapper. Contains page content -->

<div class="content-wrapper pt-2">
  <!-- Content Header (Page header) -->
  <section class="content">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-12">
          <table class="table table-bordered" id="users-table">
            <thead>
              <tr>
                <th>_id</th>
                <th>Avatar</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
              </tr>
            </thead>

          </table>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- /.content-wrapper -->

{{> footer}}

<script>
  $(document).ready(function () {
    $('#users-table').DataTable({
      drawCallback: function () {
      },
      ordering: true,
      searching: false,
      pageLength: 5,
      paging: true,
      lengthChange: false,
      autoWidth: false,
      processing: true,
      columnDefs: [
        {

          "targets": [0],
          "visible": false,
          "searchable": false
        },
      ],
      ajax: {
        data: "json",
        url: "/admin/users/data-table",
        type: 'GET',
      },
      columns: [
        { data: '_id', name: '_id' },
        {
          data: 'avatar', render: function (data) {
            return '<img src="' + data + '" class="avatar" width="50" height="50"/>'
            //return '<img src="image/user_image/' + data + '" class="avatar" width="50" height="50"/>';
          }
        },
        { data: 'name', name: 'name' },
        { data: 'email', name: 'email' },
        {
          data: 'address', render: function (data) {
            if (data) {
              return data;
            }
            else {
              return "";
            }
          }
        },
        {
          data: 'phone', render: function (data) {
            if (data) {
              return data;
            }
            else {
              return "";
            }
          }
        },
      ],
    })
  });

</script>